<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="area"></div>
    <header>
      <h1>Time Management System</h1>
    </header>
    <nav class="main-menu">
      <ul>
        <li id="dashboard-link">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
              Dashboard
            </span>
          </a>
        </li>

      </ul>
      <ul>    
        <li>
            <i class="fa fa-book fa-2x"></i>
            <span class="nav-text">
              Report
            </span>
          </a>
        </li>
      </ul>
    
      <ul class="logout">
        <li>
          <form action="/logout" method="GET" class="logout-form">
            <button type="submit" style="background: none; color: white; font-size: 16px; font-weight: bold; border: none; padding: 0; cursor: pointer;">
              <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">Logout</span>
            </button>
          </form>
        </li>  
      </ul>
    </nav>

    <div id="welcome-message">
      <h2>Welcome to TAS</h2>
    </div>

    <div id="course-selection">
      <button onclick="selectCourse('Maths', '/selectCourse1')">Select Course 1</button>
      <button onclick="selectCourse('Baiology', '/selectCourse2')">Select Course 2</button>
    </div>
    
    <script>
      function selectCourse(courseName, route) {
        fetch(route, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ courseName: courseName })
        })
        .then(response => response.json())
        .then(data => {
            window.location.href = '/admin-dashboard'; // Or wherever you want to redirect
        })
        .catch(error => {
          console.error('Error:', error);
        });
      }

      document.getElementById('dashboard-link').addEventListener('click', function() {
      document.getElementById('welcome-message').style.display = 'none';
      document.getElementById('course-selection').style.display = 'flex'; // Or 'block'
    });
    </script>
  </body>
</html>
