<!-- <!DOCTYPE html>
<html>
<head>
  <title>User Registration</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
  <div id="loginContainer">
  
      <h1 align="center"> Time Attendace System</h1>
   

    <h3>Register</h3>

    <form action="/register" method="post">
      <div id="align">
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
      </div>

      <button type="submit" style="margin-top:20px;" id="login">Register</button>
    </form>

    <div id="spacer" style="color:#fff;">
      <li>By registering, you agree to the <a href="">Terms & Conditions</a></li>
    </div>
  </div>
</body>
</html> -->

<!-- register.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>


  <% if (userType) { %>  <%# Check if userType is defined %>
  <form action="/register-<%= userType %>" method="post">
    <input type="hidden" name="role" value="<%= userType %>">

    <% if (userType === 'student') { %>
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name" required><br><br>
  <% } %> <%# End student condition %>


    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <label for="confirmPassword">Confirm Password:</label><br>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>

    <input type="submit" value="Register">
  </form>
  <% } else { %> <%# If userType not set, provide links %>
    <a href="/register-student">Register as Student</a><br>
    <a href="/register-admin">Register as Admin</a>

  <% } %>



<script>
  // You DON'T need to use localStorage here.  The value is already
  // passed from the server. Only client-side routing needs the localStorage
  // const userType = localStorage.getItem('userType'); 

  // You probably have other JavaScript here related to your
  // registration form (e.g., form validation).
</script>

</body>
</html>


